@font-face {
	font-weight: normal;
	font-style: normal;
}

body {
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif
}

.mc-c {
	color: white;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --color-scheme-background: white;
        --color-scheme-text-color: black;
    }
		a {
			color: black; /* Цвет обычной ссылки */
		}
}

/* Тёмная тема */
@media (prefers-color-scheme: dark) {
    :root {
        --color-scheme-background: black;
        --color-scheme-text-color: white;
    }
		a {
			color: white; /* Цвет обычной ссылки */
		}
}

/* Usage */
html {
    background: var(--color-scheme-background);
    color: var(--color-scheme-text-color);
}

a:visited {
    color: none; /* Цвет посещённой ссылки */
   }
a:hover {
    color: rgb(128, 17, 231); /* Цвет ссылки при наведении на нее курсора мыши */
   }


@font-face {
    font-family: ScottGamesFont;
    src: url(scottgamesfont.TTF);
    }
@font-face {
    font-family: Chiller;
    src: url(CHILLER.TTF);
    }
@font-face {
    font-family: FCIL;
    src: url(FCIL.TTF);
    }
@font-face {
    font-family: FNaFSCREEN;
    src: url(FNaFSCREEN.TTF);
    }
h1 {
    font-family: ScottGamesFont;
    letter-spacing: 2px;
    text-align: center;
    font-size: 40px;
    }
.MainHeader {
    margin-top:0px;
    text-align: center;
    }
.FancyH2 {
    font-family: ScottGamesFont;
    letter-spacing: 2px;
    text-align: center;
    font-size: 32px;
    }

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
